@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&family=Teko&display=swap');

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}
.container_principal {
    background-color: whitesmoke;
    color: gray;
    height: 100vh;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
}

input {
    color: gray;
}
#texto {
    height: 40px;
    width: 300px;
    border-radius: 5px;
    margin: 1px;
    border-color: gray;
    padding-left: 20px;
}
#buscar {
    height: 40px;
    width: 100px;
    border-radius: 5px;
    margin: 1px;
    border-color: gray;
}
#buscar:hover {
    background-color: grey;
    border-color: rgb(37, 32, 32);
    color: white;
}